@font-face {
    font-family: "Michelin-Black";
    src: url(./Michelin-Black.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Michelin-Bold";
    src: url(./Michelin-Bold.ttf);
    font-weight: 700;
}